<% include header %>

    <link rel="stylesheet" href="stylesheets/aeon-grid.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="javascripts/controller.js"></script>

  </head>

  <body ng-app="twiPressoApp">

    <div class="navBar color-dark box-shadow-dark">
      <div class="left">
        <h2>TwiPresso</h2>
      </div>
      <div class="right">
        <h2><a href="/api/logout">logout</a></h2>
      </div>
    </div>
    <div class="under"></div>

    <main>
      <div class="container press-items" ng-controller="PressController">

        <ul>
          <li ng-repeat="press in presses">
            <div class="col4 press-item color-lighter box_shadow radius">
              <a class="link_open" href="{{press.link.url}}" target="_blank">
                <span class="link_info color-light border">

                  <div class="link_image_flame" ng-show="press.link.image_url">
                    <img class="link_image" src="{{press.link.image_url}}" alt="image">
                  </div>

                  <h4><p class="link_title">{{press.link.title}}</p></h4>
                  <p class="link_content">{{press.link.content}}</p>
                </span>
              </a>
              <div class="tweet_info">
                <img class="profile_image" src="{{press.profile_image_uri}}" alt="*">
                <p class="text">{{press.text}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </main>

  </body>

</html>
